@media screen and (min-width: 30rem){

/*NAVIGATION*/

nav button{
       
    display:none;
    }

    nav{

       
        position:sticky;
        top:0;
       
       
    }


    nav ul{
        padding:0;
        margin:0;
    }

    nav ul.hide{
        display:flex;
        justify-content: space-evenly;
        flex-direction: row;
    }


    nav ul li a:visited{
        background-color:rgba(0,0,0,0.3);
        color:#fff;
    
    
    }

nav ul li {
    display:inline-block;
  

}

nav ul li a{
    
    border:none;

}



/*********/

/*reveals things hidden in the small view*/
.hide_small{
    display:initial;
}

/*flex cards direction change to row*/
.page_flex{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.card{
    width:45%;
}

.horizontal_width{
    width:100%;
    max-width:100%;
    height:100%;
    max-height:100%;
}


@media screen and (min-width:80rem){
 /** Cards**/

.card_flex{
    display:flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

.card{
    width:45%;
    position:relative;
    padding-top:3rem;
}

.header_text{
    margin:0;
    padding-top:.5rem;
    padding-left:.5rem;
    position:absolute;
    top:0;
    left:0;
    border:none;
    
    
}

/*prevents overflow*/
.textbox{
    height:auto;
    width:20rem;
   
}



@media screen and (min-width:37.5rem) {
    nav ul li a{
        display:inline-block;
        border-top:none;
        margin:0;
        padding:.8em .8em;
        font-size:.8em
    
    }
    } 

@media screen and (min-width:43.375rem){
    nav ul li a{
        display:inline-block;
        border-top:none;
        margin:0;
        padding:.8em .6em;
        font-size:.8em
    
    }
    }  

@media screen and (min-width:48rem){
    nav ul li a{
        display:inline-block;
        border-top:none;
        margin:0;
        padding:.8em 1em;
       
    
    }
    }  

@media screen and (min-width:54.125rem){
    nav ul li a{
        display:inline-block;
        border-top:none;
        margin:0;
        padding:.8em 1em;
        
    
    }
    }

@media screen and (min-width:75.125rem){
nav ul li a{
    display:inline-block;
    border-top:none;
    margin:0;
    padding:.8em 2em;

}
}


#gridbox{
    display:grid;
    grid-template-columns:1fr 1fr;
}
 
#temple1{
    display:grid;
    grid-template-columns: 1fr 1fr 1f;
    
    padding:3em;
  

}



}

/*--form---*/

.block{
    display:block;
    padding:.2em;
    margin-top:1em;
}

legend{
    font-family:'Open Sans', sans-serif;
    font-weight:700;
    font-size:1.5em;
    color:#A56935;
    background-color:#fff;
    padding:.3em;
    border:solid .5px #000;
}

fieldset{
    width:35%;
    margin-left:auto;
    margin-right:auto;
    margin-top:2em;
   
}

form{
    margin-top:3em;
    margin-bottom:2em;
}

label{
    font-family:'Open Sans', sans-serif;
    font-weight:400;
}


input{
    background-color:#595c65;
    color:white;
    border-radius:5px;
}

input[type="submit"]{
    padding:.3em;
    background-color:#A56935;
    font-weight:700;
    font-family:'Open Sans',sans-serif;
    margin:1em .5em;

}

input[type="submit"]:hover{
    background-color:#595c65;

}
input[type="submit"]:active{
    background-color:#595c65;

}

textarea{
    background-color:#aeb0b6;
}

select{
    background-color:#595c65;
    color:white;
    font-family:'Open Sans',sans-serif;
}

@media screen and (min-width:46.625rem){
#flexform{
    display:flex;
    justify-content:space-between;
}
}

/*--contact--*/



iframe{
    
    margin-top:3.2em;
   


}

@media screen and (min-width:60rem){

    #flexcontact{
    display:flex;
    justify-content:space-evenly;
  
    }
}


@media screen and (min-width:48.75rem){


    #flexcontact{
        display:flex;
        justify-content:space-evenly;
      
        }


    


}


@media screen and (max-width:48.75rem){


    #flexcontact{
  
     display:flex;
     flex-direction: column;
    align-items: center;
      
        }


    


}
    #margin{
        margin:0;

    }

/*rooms*/

#roomsgrid{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;

}
}