
/*------global---------*/
    html{
        width:100%;
        height:100%;
        margin:0;
        padding:0;
        
        
    }

  
    .logo_width{
        max-width:100%;
    }
    
    body{
        width:100%;
        height:100%;
        margin:0;
        padding:0;
        overflow-x:hidden;
    }

    header{
        display:flex;
        justify-content: center;
        padding:3em;
    }



    .slc{
       display:flex;
       justify-content:center;

       
    }

    .slcpositioning{
        width:100%;
    }

    footer{
        margin-bottom:0;
        color:white;
        width:1005;
        height:auto;
    }

    a {
        font-size:1em;
        text-decoration: none;
                color: #fff;
    }

    h1,h2,h3,h4,h5{
        font-family:'Play Fair', serif;
        font-weight:900;
    }

    p li {
        font-family:'Open Sans', sans-serif;
    }

    main{
        max-width:1280px;
        margin-left:auto;
        margin-right:auto;
    }


/*---Hero Image--*/


.heroimage{
    max-width:100%;
    width:100%;

}

.page_flex{
    display:flex;
    flex-direction: column;
}

 /** Cards**/



 .card{
    margin-top:2em;
    margin-bottom:2em;
    background-color:#A56935;
    box-shadow: 1px 10px 10px #595c65;
    width:60%;
    
               

}

.header_text{
    color:white;
    text-align:center;
    margin:0;
    padding:.5rem;
    border-bottom: solid .5rem #595c65;
  
    
    


}


.card_flex{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}


.imageposition{
    
    width: 100%;
   
    max-height: 100%;
    height: 100%;
    max-width: 100%;

}


.textbox h2{
    font-family:"Open Sans", sans-serif ;
    font-weight:700;
    margin:0;

 }

.textbox{
font-family:"Open Sans", sans-serif ;
font-weight:300;
background-color:white;
padding:1em;
height:auto;
max-height:100%;

}

.textbox li{
display:block;
font-weight:600;
}

.textbox ul{

list-style-type:none;

padding:0;
margin:0;
}

.textbox ul li a{
font-family:'Open Sans', sans-serif;
color:#000;
font-weight:700;
display:block;

}

.textbox ul li a:hover{
color:#A56935;


}


.textbox ul li a:active{
color:white;
background-color:grey;
}
     









    
    header{
        display:flex;
        justify-content: center;
        padding:1.5em;
    }


    head{
        background-color:#fff;
    }


        nav{
            background-color:#A56935;
            color:#fff;
            font-family: 'Open Sans', sans-serif;
            width:100%;
            
           
           
        
        }

        nav ul{
            list-style-type:none;
            padding:0;
            margin:0;
             
             
         } 

         nav{
            border-bottom:solid .5em #595c65;
            }

            nav ul li a{
                display:block;
                padding:.8rem 2%;
                text-decoration: none;
                color: #fff;
                font-weight:bold;
                border-top: 1px solid rgba(0,0,0,0.3);
                
                  
                 }
              
              
              
                 nav ul li .active a{
                  background-color:rgba(0,0,0,0.3);
                  color:#fff;
              
              
              }
              
              
              
              nav ul li a:hover{
                  background-color:rgba(0,0,0,0.4);
                  
              
              }
              /*home*/
              
           .width{
                width:60%;
                height:50%;
                margin-left:auto;
                margin-right:auto;
                 }





           #hotel{
           display:grid;
           grid-template-columns: 1fr;
           margin-top:1.5em;
           }

           .hide_small{
            display:none;
        }




.hide_small{
    display:none;
}

 
            /*--temple page--*/
              .graybox{

                background-color: rgba(34,33,38, 0.5);
                width:25%;

              }

           

              footer{
                display:flex;
                justify-content:space-evenly;
                background-color:#A56935;
                border-top:solid .5em #595c65;
                padding:2em;
                
             }

       


 
    
/*-----Header-------*/
    

   
/*-----NAV-------*/






nav button{
    background-color:transparent;
    border:none;
    margin:.2em 2%;
    font-size: 1.6rem;
    color:#FBE8c8;

}



nav ul.hide{
    display:none;
}




/*-----Main-------*/





#hotel{

    width:80%;
    background-color:#A56935;
    margin-top:1.5em;
    margin-left:auto;
    margin-right:auto;
    padding:1em;
    text-align:center;
   
}

#border{
    
    margin:0;
    padding:0;
}



/*---form----*/

.block{
    display:block;
    padding:.2em;
    margin-top:1em;
}

legend{
    font-family:'Open Sans', sans-serif;
    font-weight:700;
    font-size:1.5em;
    color:#A56935;
    background-color:#fff;
    padding:.3em;
    border:solid .5px #000;
}

fieldset{
    width:90%;
    margin-left:auto;
    margin-right:auto;
    margin-top:2em;
   
}

form{
    margin-top:3em;
    margin-bottom:2em;
}

label{
    font-family:'Open Sans', sans-serif;
    font-weight:400;
}


input{
    background-color:#595c65;
    color:white;
    border-radius:5px;
}

input[type="submit"]{
    padding:.3em;
    background-color:#A56935;
    font-weight:700;
    font-family:'Open Sans',sans-serif;
    margin:1em .5em;

}

input[type="submit"]:hover{
    background-color:#595c65;

}
input[type="submit"]:active{
    background-color:#595c65;

}

textarea{
    background-color:#aeb0b6;
}

select{
    background-color:#595c65;
    color:white;
    font-family:'Open Sans',sans-serif;
}


/*--Services--*/
/*--contact---*/

@media screen and (max-width:37.5rem){
   #margin{

       width:90%;
       margin:0;
   }

   }


/*--temple page--*/
#article1 p{
    font-family:'Open Sans',sans-serif;
    

}
 




